{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas</title>    
    <link rel="icon" href="{% static 'html_css/viking_logo.jpg' %}">
    {% include 'html_css/metadata.html' %}
    <style>
        body {
            margin: 0;
        }
        #main_canvas {
            background: lightgray;
        }
    </style>
</head>
<body>
    <canvas id="main_canvas"></canvas>
    <script src="{% static 'html_css/canvas_landing.js' %}"></script>
</body>
</html>