{% load static %}
<meta prefix="og: http://ogp.me/ns#" name="viewport" content="width=device-width, initial-scale=1.0" />
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Zachary McBride's Portfolio" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://mcbridz.pythonanywhere.com" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{% static 'html_css/portfolio_picture.png' %}" />
<meta prefix="og: http://ogp.me/ns#" property="og:image:type" content="image/png" />
<meta prefix="og: http://ogp.me/ns#" proptery="og:description"
    content="Working portfolio demonstrating accrued skills and frameworks for Zachary McBride. Skills included range from C++ to Python, with several frameworks and libraries used." />
<meta name="twitter:card" content="{% static 'html_css/portfolio_picture.png' %}" />
<meta name="twitter:site" content="@mcbridz" />
<meta name="twitter:domain" content="http://mcbridz.pythonanywhere.com" />
<meta name="twitter:title" content="Zachary McBride's Portfolio" />
<meta name="twitter:description"
    content="Working portfolio demonstrating accrued skills and frameworks for Zachary McBride. Skills included range from C++ to Python, with several frameworks and libraries used.">