{% extends 'html_css/bootstrap_base.html' %}
{% load static %}
{% block title %}Password Generator{% endblock %}
{% block style %}
<style>
    .row {
        margin-top: 3%;
    }

    #instructions {
        justify-content: center;
    }

    .col-sm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }
</style>

<title>Random Password Generator</title>
{% endblock %}

{% block body %}
{% include 'html_css/bootstrap_base_nav.html' %}
<div class="container" id="below-navbar">
    <div class="row container" id="instructions">
        <span>To generate your password, input the number of characters you want your password to have, then click
            'Generate!'</span>
    </div>
    <div class="row">
        <div class="col-sm" id="value-container">
            <input id="num_chars" type="number" />
        </div>
        <div class=col-sm id="generate-container">
            <button type="button" class="btn btn-secondary" id=gen_but>Generate!</button>
        </div>
        <div class="col-sm" id="password-container">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Password Generated</span>
                </div>
                <input type="text" class="form-control" id="pwd-text" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm">
                <div class="input-group-append">
                    <button class="input-group-text" onclick="copyToClipboard()"><i
                            class="far fa-clipboard"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="toast" role="alert" aira-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Copied!
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
<!--Custom JavaScript-->
<script src="{% static 'html_css/random-password-generator.js' %}"></script>
<script>
    function copyToClipboard() {
        let copyText = document.getElementById("pwd-text")
        copyText.select()
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy")
        $('.toast').toast('show')
    }
</script>
{% endblock %}