{% extends 'blog/base.html' %}
{% block title %}Profile{% endblock %}
{% block style %}
<style>
    img {
        max-height: 200px;
    }
</style>
{% endblock %}
{% block body %}
<h5>{{user.username}}'s Profile</h5>
<h6>Profile Picture: </h6>
<img
    src="{% if user.profile.profile_picture.url != None %} {{user.profile.profile_picture.url}} {% else %} https://placekitten.com/200/200/ {% endif %}">
<form action="{% url 'blog_app:profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="first_name" value="{{user.first_name}}" required>
    <input type="text" name="last_name" value="{{user.last_name}}" required>
    <label for="profile_picture">Upload New Profile Picture Here</label>
    <input type="file" name="profile_picture" accept="image/*">
    <button class="btn btn-primary" type="submit">Update</button>
    <button type="button" data-toggle="modal" data-target="#confirm" class="btn btn-danger">Delete Account</button>
    <a href="{% url 'blog_app:reset_password' %}" class="btn btn-secondary">Reset Password</a>
</form>
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'blog_app:del_account' %}" type="button" class="btn btn-danger">Save changes</a>
            </div>
        </div>
    </div>
</div>
<hr>
{% for post in posts %}
<table class="table">
    <thead>
        <tr>
            <th>{{post}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{post.body|truncatechars:150}}</th>
            <th><a href="{% url 'blog_app:post_detail' post.id %}">edit</a></th>
        </tr>
    </tbody>
</table>
{% endfor %}
{% endblock %}
{% block javascript %}


{% endblock %}